* {
  box-sizing: border-box;
}

body {
  user-select: none;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 600;
  background:#0B2434;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
border-radius: 15px;
background-color: white;
width: 400px;
height: 400px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}


nav{
  color: #2B283A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 20px;
  font-size: 30px;
  font-weight: 900;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}                                                      


footer{
  font-weight: 600;
  font-size: 15.7px;
  height: 60px;
  position: fixed;
  bottom:0 ;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.15);
  
}      


.site-name:hover{
  color: #4a8bb4;
  font-size: 30.1px;
}


.nav-list{
  font-weight: 600;
  font-size: 15.7px;
}


.nav-list-el1{
  color: #2B283A;
  text-decoration: none;
  padding: 7px;
}

.nav-list-el1:hover{
  color: #000000;
  color:#4a8bb4 ;
}

.nav-list-el2{
  color: #2B283A;
  text-decoration: none;
  padding: 7px;
  position: relative;
}

.nav-list-el2:hover{
  color: #000000;
  color:#4a8bb4 ;
}

.footer-git{
  text-decoration: none;
  color:#000000 ;
}
.footer-git:hover{
  font-size: 15.5px;
  color:#4a8bb4 ;
}

.die-container{
  display: grid;
  grid-template:auto auto /repeat(5 ,auto);
  grid-gap: 30px;
}


.Die{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  overflow: hidden;
  font-size:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
  width:40px;
}


.roll{
  border: 5px solid blue;
  height: 45px;
  width: 100px;
  border: none;
  color: white;
  background-color: #5035FF;
  border-radius:4px ;
  font-family: 'Noto Sans Mono', monospace;
}

.about-container{
  width: 330px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}

.instructions{
  margin: 0px;
}

.title{
  margin: 0px;
  padding-bottom: 10px;
}

